<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h1>CRMator</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h4>Aujourd'hui </h4>
    <ion-card>    
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div class="image">
                <img src="assets/lee.jpg"/>
              </div>
            </ion-col>
            <ion-col size="7">
              <div class="name">              
                Bruce Lee<br>
                9 rue de Paris
              </div> 
            </ion-col>
            <ion-col>
              <div class="heure">
                9h30
              </div>
              <div class="map">
                <ion-icon name="pin"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div class="image">
                <img src="assets/rambo.jpg"/>
              </div>
            </ion-col>
            <ion-col size="7">
              <div class="name">
                Jean Rambo<br>
                9 rue de Lille
              </div>      
            </ion-col>
            <ion-col>
              <div class="heure">
                11h00
              </div>
              <div class="map">
                  <ion-icon  name="pin"></ion-icon>                                     
              </div>          
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
      <h4>Demain </h4>
    <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div class="image">
                <img src="assets/bauer.jpg"/>
              </div>
            </ion-col>
            <ion-col size="7">
              <div class="name">
                Jack Bauer<br>
                12 Brodway street
              </div>      
            </ion-col>
            <ion-col>
              <div class="heure">
                14h00
              </div>
              <div class="map">
                <ion-icon name="pin"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
    <br>
    <ion-fab horizontal="end">
      <ion-fab-button size="small" color="primary">+</ion-fab-button>
    </ion-fab>
</ion-content>
